@media screen and (min-width: 768px) {
  .nopadd-ltf {
    padding-left: 0;
  }
  .nopadd-rth {
    padding-right: 0;
  }
  .nopadd {
    padding-left: 0;
    padding-right: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  color: #888888;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 27px;
}

a {
  color: #7c49dd;
  transition: all 300ms ease-in-out;
}

a:hover, a:focus {
  text-decoration: none;
  outline: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rufina', serif;
  font-weight: 700;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

section {
  display: block;
  position: relative;
  padding: 0;
  width: 100%;
}

section.page-section {
  padding: 0 0;
}

.ImgShadow {
  filter: drop-shadow(-1px 6px 5px rgba(0, 0, 0, 0.2));
}

.team-item {
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: all .3s;
  max-width: 300px;
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .team-item {
    padding: 15px;
  }
}

.team-item .team-image img {
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.team-item .team-info {
  padding-top: 30px;
}

.team-item .team-info h3 a {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #7c49dd;
  display: block;
  font-weight: 600;
  transition: all .3s;
}

.team-item .team-info h3 a:hover {
  color: #233646;
}

@media screen and (max-width: 991px) {
  .team-item .team-info h3 {
    font-size: 18px;
  }
}

.team-item .team-info p {
  transition: all .3s;
  margin-bottom: 10px;
}

.team-item .team-info .social-link a {
  font-size: 14px;
  color: #6c6c6f;
  margin: 0px 8px;
  transition: all .3s;
}

.team-item .team-info .social-link a:hover {
  color: #233646;
}

@media screen and (max-width: 991px) {
  .team-item {
    margin-bottom: 30px;
  }
}

.team-item:hover {
  background: #7c49dd;
}

.team-item:hover p,
.team-item:hover h3 a {
  color: #fff;
}

.team-item:hover .social-link a {
  color: #233646;
}

.team-item-v2 {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.team-item-v2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #7c49dd;
  height: 40%;
  width: 100%;
  z-index: -1;
}

.team-item-v2::after {
  content: "";
  position: absolute;
  bottom: -60%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: #233646;
  height: 60%;
  width: 100%;
  z-index: -1;
  transition: all 300ms;
}

.team-item-v2 .team-info h3 a:hover {
  color: #7c49dd;
}

.team-item-v2 .team-info .social-link a:hover {
  color: #7c49dd;
}

.team-item-v2:hover::after {
  height: 60%;
  bottom: 0%;
  opacity: 1;
  visibility: visible;
}
