@media screen and (min-width: 768px) {
  .nopadd-ltf {
    padding-left: 0;
  }
  .nopadd-rth {
    padding-right: 0;
  }
  .nopadd {
    padding-left: 0;
    padding-right: 0;
  }
}
/**
*  Blog Section
*/
section.blog {
  padding: 80px 0;
}
section.blog .post {
  margin-bottom: 30px;
}

.post h3 {
  margin: 20px 0 0;
}
.post p {
  margin-top: 5px;
}
.post figure.blog-feature-thumb {
  position: relative;
}
.post.ata-blog-post.v2 .blog-post-item {
  padding: 40px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f3f3f3;
  transition: all 300ms ease-in-out;
}
.post.ata-blog-post.v2 .blog-post-item:hover {
  background-color: transparent;
}
.post.ata-blog-post.v2 .blog-post-item:hover img.post-feature-thumb {
  opacity: 0.2;
}
.post.ata-blog-post.v2 .post-feature-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  pointer-events: none;
}
.post.ata-blog-post.v2 .author-meta {
  position: relative;
  display: flex;
  align-items: center;
}
.post.ata-blog-post.v2 .author-avatar {
  max-width: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}
.post.ata-blog-post.v2 .author-meta {
  position: relative;
  margin-bottom: 40px;
}
.post.ata-blog-post.v2 .author-meta span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}
.post.ata-blog-post.v2 .author-meta a {
  display: inline-block;
  font-weight: 700;
}
.post.ata-blog-post.v2 .blog-post-meta {
  position: relative;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.post.ata-blog-post.v2 .blog-post-meta a {
  display: inline-block;
  font-weight: 500;
  margin-right: 5px;
  font-size: 14px;
}
.post.ata-blog-post.v2 h3 a {
  font-weight: 500;
  line-height: 25px;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.post.ata-blog-post.v2 p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.post.ata-blog-post.v2 .read-more {
  width: 50px;
  height: 50px;
  background: #ff9997;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  margin-left: auto;
}
.post.ata-blog-post.v3 .blog-post-item {
  position: relative;
  margin-bottom: 30px;
}
@media screen and (max-width: 991px) {
  .post.ata-blog-post.v3 .blog-post-item figure.blog-feature-thumb img {
    min-height: 300px;
    object-fit: cover;
  }
}
.post.ata-blog-post.v3 .blog-post-item h3 {
  margin: 0;
  padding: 0;
}
.post.ata-blog-post.v3 .blog-post-item:hover figure.blog-feature-thumb:after {
  background-color: rgba(0, 0, 0, 0.8);
}
.post.ata-blog-post.v3 .blog-post-item:hover figure.blog-feature-thumb img {
  transform: rotate(10deg) scale(1.2);
}
.post.ata-blog-post.v3 .blog-post-item:hover h3 {
  bottom: 0px;
}
.post.ata-blog-post.v3 .blog-post-item:hover p {
  bottom: 15px;
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 767px) {
  .post.ata-blog-post.v3 .blog-post-item {
    margin-bottom: 30px;
  }
}
.post.ata-blog-post.v3 .blog-post-body {
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.post.ata-blog-post.v3 .blog-post-body::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.158);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
}
.post.ata-blog-post.v3 .blog-post-body .blog-post-meta {
  color: #fff;
  z-index: 9;
  text-transform: capitalize;
}
.post.ata-blog-post.v3 .blog-post-body .blog-post-meta a:not(:last-child) {
  margin-right: 15px;
}
.post.ata-blog-post.v3 .blog-post-body .blog-post-meta a:hover {
  color: #7c49dd;
}
.post.ata-blog-post.v3 .blog-post-body h3 {
  bottom: -60px;
  position: relative;
  transition: all 300ms ease-in-out;
  margin-top: auto;
  margin-bottom: 20px;
  font-weight: 500;
}
.post.ata-blog-post.v3 .blog-post-body h3 a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  outline: none;
  overflow: hidden;
}
.post.ata-blog-post.v3 .blog-post-body h3 a:hover {
  color: #7c49dd;
}
.post.ata-blog-post.v3 .blog-post-body p {
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0;
  opacity: 0;
  visibility: hidden;
  bottom: -30px;
  position: relative;
  transition: all 300ms ease-in-out;
}
.post.ata-blog-post.v3 figure.blog-feature-thumb {
  border-radius: 10px;
  overflow: hidden;
}
.post.ata-blog-post.v3 figure.blog-feature-thumb img {
  transition: all 300ms ease-in-out;
}
.post.ata-blog-post.v3 figure.blog-feature-thumb:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 300ms ease-in-out;
}
.post.ata-blog-post.v4 i {
  position: relative;
  top: 3px;
}
.post.ata-blog-post.v5 .post-img {
  position: relative;
}
.post.ata-blog-post.v5 .post-img .img-wrap {
  overflow: hidden;
}
.post.ata-blog-post.v5 .post-img .date-box {
  position: absolute;
  right: 15px;
  background: #fff;
  border: 1px solid #ddd;
  width: 70px;
  height: 70px;
  bottom: -35px;
}
.post.ata-blog-post.v5 .post-img .date-box p.month {
  padding: 0;
  margin: 0;
  height: 50%;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.post.ata-blog-post.v5 .post-img .date-box p.day {
  line-height: 1;
  margin: 0;
  padding: 0;
  background: #7c49dd;
  color: #fff;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 700;
}
.post.ata-blog-post.v5 img {
  position: relative;
  transform: scale(1.1);
  transition: all 0.5s;
}
.post.ata-blog-post.v5 .post-content-area {
  position: relative;
}
.post.ata-blog-post.v5 .post-content-area h3 a {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.post.ata-blog-post.v5 .post-content-area p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.post.ata-blog-post.v5 .btn {
  max-width: inherit;
}
.post.ata-blog-post.v5:hover img {
  transform: scale(1.2);
}

.page-template .default-page-template .entry .entry-summary > *, .page-template .default-page-template .entry-content > * {
  margin: revert !important;
}

.page-feature h2,
.post h2 {
  word-wrap: break-word;
}

.post .wp-block-button__link {
  min-width: 220px;
  padding: 10px;
}

:root .has-pale-pink-background-color {
  background-color: #7c49dd;
}

.wp-block-cover-text {
  color: #fff !important;
}

.wp-block-column ol {
  margin-left: 15px;
}

.post .wp-block-image img {
  max-height: inherit;
}

.post.blog-single-post .wp-post-image {
  max-height: inherit;
  width: 100% !important;
  max-width: unset;
  aspect-ratio: 2/1;
  object-fit: cover;
  object-position: center;
}

.post {
  border-radius: 5px;
  border: 1px solid rgba(227, 230, 234, 0.6);
  text-align: center;
  transition: all 0.5s;
  padding: 20px;
  margin-bottom: 30px;
}
.post .btn i {
  position: relative;
  left: 0;
  top: 2px;
  transition: all 0.5s;
}
.post:hover {
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.07);
  border-color: #fff;
}
.post:hover .btn i {
  left: 7px;
}
.post .entry-meta span {
  margin: 0 5px;
  margin-left: 0;
  color: #192225;
  text-transform: capitalize;
}
.post .entry-meta span i {
  font-size: 16px;
  color: #7c49dd;
  margin-bottom: 0;
  position: relative;
  top: 1px;
  transition: all 0.5s;
  margin-right: 3px;
}
.post .entry-meta a {
  color: #7c49dd;
}
.post .entry-meta a .ti-comment {
  font-size: 0.8rem;
  margin-right: 10px;
}
.post .entry-meta {
  margin-bottom: 10px;
}
.post-img {
  position: relative;
}
.post img {
  margin-bottom: 15px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.post h2 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 30px;
}
@media screen and (max-width: 767px) {
  .post h2 {
    font-size: 22px;
    line-height: 1.6;
  }
}
.post h2,
.post h2 a {
  color: #263a41;
}
.post h2:hover,
.post h2 a:hover {
  color: #7c49dd;
}
.post p {
  margin-bottom: 20px;
  line-height: 2;
}
.post h4 {
  line-height: 1.5;
}
.post h4 a {
  color: #233646;
}
.post h4 a:hover {
  color: #7c49dd;
}
.post .btn {
  display: inline-block;
  margin-bottom: 10px;
  padding: 15px 30px;
  margin-left: auto;
  margin-right: auto;
  text-transform: capitalize;
  font-weight: 500;
  min-width: auto;
}
.post .btn i {
  font-size: 16px;
  margin-bottom: 0;
}
.post.list-view {
  margin-bottom: 30px;
}
.post.list-view img {
  margin-bottom: 15px;
  max-height: 300px;
  object-fit: cover;
}
.post.list-view a {
  margin-bottom: 10px;
}
.post.service-post {
  background: url(../images/dot.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}
.post.service-post h4 {
  margin-top: 25px;
  position: relative;
  margin-bottom: 15px;
}
.post.service-post .btn {
  padding: 20px 25px;
  margin-bottom: 10px;
}
.post.service-post.left {
  text-align: left;
}
.post.service-post.right {
  text-align: right;
}
@media screen and (max-width: 768px) {
  .post.service-post.right {
    text-align: center;
  }
}
.post.service-post.no-shape h4 {
  margin-top: 25px;
  position: relative;
}
.post.service-post.no-shape h4:before {
  content: "";
  width: 100%;
  height: 50px;
  position: absolute;
  display: block;
  background: url(../images/top-shape.svg);
  top: -60px;
  background-size: cover;
}

.service-image-height img {
  object-fit: cover;
}

.format-video {
  position: relative;
}
.format-video video {
  width: 100%;
}

.format-carousel .owl-dots {
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 3rem;
}
.format-carousel .owl-dots button:focus, .format-carousel .owl-dots button:active {
  outline: 0;
}
.format-carousel .owl-dots span {
  background-color: #ffc3c2;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  height: 8px;
  width: 8px;
}
.format-carousel .owl-dots .active span {
  background-color: #fff;
}

.format-link i {
  font-size: 3rem;
  margin-bottom: 3rem;
  display: inline-block;
  color: #7c49dd;
}

.format-quote:not(.ata-blog-post) {
  padding: 3rem 2rem;
}

.format-quote i {
  font-size: 3rem;
  margin-bottom: 1rem;
  display: inline-block;
}
.format-quote h4 a {
  font-weight: 400;
}
.format-quote strong {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #262934;
  margin-bottom: 30px;
  display: block;
}

.ata-blog-post {
  margin-bottom: 30px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .ata-blog-post {
    margin-bottom: 30px !important;
  }
}
.ata-blog-post figure.post-img {
  margin-bottom: 15px !important;
}
.ata-blog-post img {
  margin-bottom: 0;
}
.ata-blog-post h4 {
  margin: 15px 0;
}
.ata-blog-post h4 a {
  outline: none;
}
.ata-blog-post .btn {
  padding: 15px 30px;
  font-weight: 400;
}
.ata-blog-post.v2 .play-btn {
  top: 1rem;
}
.ata-blog-post.v2 .entry-meta {
  bottom: 0;
  position: absolute;
  display: block;
  background: rgba(255, 255, 255, 0.7803921569);
  width: 100%;
  padding: 10px;
  margin-bottom: 0 !important;
}
.ata-blog-post.v2 .btn {
  background: #7c49dd;
  color: #fff;
  line-height: 1;
  padding: 10px 20px;
  border-radius: 3px;
}
.ata-blog-post.v2 .btn i {
  color: #fff;
}

/**
    *  Pagination
    */
.navigation.pagination span.page-numbers.current {
  background-color: #7c49dd;
  padding: 5px 10px;
  color: #fff;
  margin-right: 4px;
  border-radius: 4px;
  font-weight: 700;
  min-width: 35px;
  display: inline-block;
}
.navigation.pagination a,
.navigation.pagination span.page-numbers.dots {
  padding: 5px 10px;
  background-color: rgba(124, 73, 221, 0.2);
  color: #7c49dd;
  margin-right: 4px;
  border-radius: 4px;
  font-weight: 700;
  min-width: 35px;
  display: inline-block;
}
.navigation.pagination a:hover,
.navigation.pagination span.page-numbers.dots:hover {
  background-color: #7c49dd;
  color: #fff;
}