@media screen and (min-width: 768px) {
  .nopadd-ltf {
    padding-left: 0;
  }
  .nopadd-rth {
    padding-right: 0;
  }
  .nopadd {
    padding-left: 0;
    padding-right: 0;
  }
}
.sec-heading {
  text-align: center;
}
.sec-heading .paragraph {
  line-height: 28px;
}

@media screen and (max-width: 575px) {
  .sec-heading {
    margin-bottom: 40px;
  }
}
.sec-heading h2 {
  font-size: 65px;
  line-height: 72px;
  margin-bottom: 20px;
  line-height: 1.3;
}

@media (max-width: 767px) {
  .sec-heading {
    max-width: 85% !important;
  }
  .sec-heading .m-auto.text-left {
    margin: 0 !important;
  }
  .sec-heading h2 {
    font-size: 62px;
  }
}
@media screen and (max-width: 575px) {
  .sec-heading h2 {
    font-size: 52px;
    line-height: 60px;
  }
}
@media screen and (max-width: 479px) {
  .sec-heading h2 {
    font-size: 33px;
    line-height: 40px;
  }
}
#clock {
  margin-bottom: 50px;
}

#clock span {
  color: #fff;
}

#clock p {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  margin: 2px;
  overflow: hidden;
}
#clock p:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #7c49dd;
  border-radius: 50%;
  bottom: -40%;
}

#clock span {
  background: #d946d3;
  border-radius: 5px;
  display: block;
  font-size: 30px;
  line-height: 65px;
  margin: 5px 5px 0;
  position: relative;
  height: 60px;
  width: 60px;
  z-index: 2;
  color: #7c49dd;
}

p {
  color: #7b8491;
  font-size: 15px;
  line-height: 28px;
}

.form {
  width: 100%;
}
.form .form-field {
  position: relative;
  margin-bottom: 15px;
}
.form .form-field i {
  color: #7c49dd;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.form input {
  background-color: #fff;
  border: 1px solid #7c49dd;
  border-radius: 3px;
  color: #888;
  font-size: 14px;
  padding: 15px 40px 15px 20px;
  outline: 0;
  width: 100%;
}
.form .btn {
  padding: 20px 25px;
}