@media screen and (min-width: 768px) {
  .nopadd-ltf {
    padding-left: 0;
  }
  .nopadd-rth {
    padding-right: 0;
  }
  .nopadd {
    padding-left: 0;
    padding-right: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  color: #888888;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 27px;
}

a {
  color: #7c49dd;
  transition: all 300ms ease-in-out;
}

a:hover, a:focus {
  text-decoration: none;
  outline: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rufina', serif;
  font-weight: 700;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

section {
  display: block;
  position: relative;
  padding: 0;
  width: 100%;
}

section.page-section {
  padding: 0 0;
}

.slider-v3-thumb-area {
  position: absolute;
  bottom: -75px;
  left: 0;
  right: 0;
  z-index: 99;
}

.slider-v3-thumb {
  margin: 0;
}

.slider-v3-thumb .col {
  cursor: pointer;
  border-bottom: 5px solid #fff;
  border-right: none;
  border-radius: 10px;
  transition: all .5s;
}

.slider-v3-thumb .col.active {
  border-color: #000;
}

.slider-v3-thumb img {
  height: 150px !important;
  object-fit: cover;
  width: 100%;
}

.slider-v3-thumb a.owl-thumb-item {
  display: block;
}

.banner.v2 .ImageOverlay {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

.banner.v2.v3 .owl-nav, .banner.v2.v4 .owl-nav {
  bottom: 0;
  top: 0;
  left: auto;
  margin: auto;
  height: auto !important;
}

.container.slider-v4-thumb-area {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  bottom: 0;
  text-align: center;
}

.container.slider-v4-thumb-area .slider-v4-thumb .owl-thumb-item {
  width: 60px;
  display: inline-block;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transform: scale(1);
  transition: all .5s;
}

.container.slider-v4-thumb-area .slider-v4-thumb .owl-thumb-item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  position: relative;
  transform: scale(1.4);
}

.container.slider-v4-thumb-area .slider-v4-thumb .owl-thumb-item.active {
  border: 5px solid #fff;
  transform: scale(1.2);
}
