@media screen and (min-width: 768px) {
  .nopadd-ltf {
    padding-left: 0;
  }
  .nopadd-rth {
    padding-right: 0;
  }
  .nopadd {
    padding-left: 0;
    padding-right: 0;
  }
}
.style4 {
  overflow: hidden;
  top: 0;
}
.style4 .icon {
  background: transparent !important;
}
.style4 .bgShape {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: block;
}
.style4 .bgShape:before, .style4 .bgShape:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  transform: scale(2);
  transition: all 0.5s;
  border-radius: 50%;
}
.style4 .bgShape:before {
  left: 0;
  border-bottom: 15px solid #97bfb1;
}
.style4 .bgShape:after {
  right: 0;
  border-bottom: 15px solid #1b856b;
  transition-delay: 0.2s;
}
.style4 .view_details {
  position: relative;
  font-weight: 700;
  color: #1b856b;
  font-size: 16px;
  margin-top: 15px;
  outline: none;
}
.style4 .view_details i {
  position: relative;
  left: 0;
  transition: all 0.5s;
  top: 2px;
}
.style4 .view_details:hover i {
  left: 7px;
}
.style4 .icon-bg {
  display: flex;
  position: absolute;
  top: 0;
  opacity: 0.03;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #1b856b;
}
.style4 .icon-bg i {
  font-size: 250px;
}
.style4 .icon-bg img {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 1/1;
  object-fit: contain;
  object-position: center;
}
.style4:hover .icon-bg i {
  color: #1b856b;
}
.style4:hover {
  top: -15px;
}
.style4:hover .bgShape:before {
  transform: scale(1.3);
}
.style4:hover .bgShape:after {
  transform: scale(1.37);
}

.iconBox {
  border: 1px solid rgba(227, 230, 234, 0.6);
  border-radius: 5px;
  padding: 40px 25px;
  position: relative;
  text-align: center;
  transition: all 0.5s;
  margin-bottom: 10px;
}
.iconBox .icon {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
  line-height: 70px;
  margin: 0 auto 30px;
  height: 80px;
  width: 80px;
  background: #d946d3;
  text-align: center;
  position: relative;
  transition: all 0.4s;
}
.iconBox .icon img {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 40px;
}
.iconBox .icon i {
  color: #7c49dd;
  transition: all 0.4s;
}
.iconBox .icon [class^=borax-],
.iconBox .icon [class*=" borax-"] {
  font-size: 80px;
}
.iconBox a {
  color: #233646;
  display: block;
}
.iconBox a h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}
.iconBox p {
  margin-bottom: 0;
  width: 100%;
  overflow: hidden;
}
.iconBox i,
.iconBox a,
.iconBox h3,
.iconBox p {
  position: relative;
  z-index: 2;
  translate: all 1s;
}
.iconBox:hover {
  border-color: transparent;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.07);
}
.iconBox:hover .icon {
  background-color: #7c49dd;
}
@media screen and (max-width: 991px) {
  .iconBox {
    margin-bottom: 30px;
  }
}
.iconBox.ib-left .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  margin-bottom: 20px;
}
.iconBox.ib-left a {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 0;
}
.iconBox.iconBox2 {
  position: relative;
  padding-bottom: 50px;
}
.iconBox.iconBox2:before, .iconBox.iconBox2:after {
  content: "";
  width: 0;
  height: 100%;
  display: block;
  background: #7c49dd;
  position: absolute;
  right: 0;
  top: 0;
}
.iconBox.iconBox2:after {
  transition: all 0.4s;
  transition-delay: 0.2s;
}
.iconBox.iconBox2:before {
  background: #7c49dd;
  opacity: 0.5;
  transition-delay: 0s;
  transition: all 0.3s;
}
.iconBox.iconBox2 .view_details {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
  background: #fff;
  text-align: center;
  padding: 13px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  border-radius: 3px;
  opacity: 0;
  color: #233646;
}
.iconBox.iconBox2 .icon {
  background: transparent !important;
}
.iconBox.iconBox2 .icon i {
  color: #7c49dd;
}
.iconBox.iconBox2 .icon img {
  max-width: 70px;
}
.iconBox.iconBox2:hover:before, .iconBox.iconBox2:hover:after {
  width: 100%;
}
.iconBox.iconBox2:hover .icon i,
.iconBox.iconBox2:hover a,
.iconBox.iconBox2:hover h3,
.iconBox.iconBox2:hover p {
  color: #fff !important;
}
.iconBox.iconBox2:hover a.view_details {
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.07);
  opacity: 1;
  bottom: -20px;
}
.iconBox.iconBox2:hover a.view_details:hover {
  background: #d946d3;
}
.iconBox.iconBox2:hover a.view_details i {
  color: #7c49dd;
}
.iconBox.v3 {
  background-image: url(../images/dot.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}
.iconBox.v3 .view_details {
  width: 120px;
  height: 40px;
  display: block;
  text-align: center;
  padding: 11px;
  position: absolute;
  text-transform: uppercase;
  right: 0;
  left: auto;
  top: 0;
  bottom: 0;
  border-radius: 3px;
  opacity: 1;
  color: #7c49dd;
  background: #ffd8d7;
  word-break: break-all;
  margin: auto;
  font-size: 14px;
  line-height: 1.4;
  transform: rotate(-90deg);
  transform-origin: 80px 0px;
  opacity: 0;
}
.iconBox.v3:hover .view_details {
  bottom: 0 !important;
  background-color: #7c49dd;
  color: #fff;
  right: -20px;
  opacity: 1;
}

.iconBox.align-left {
  text-align: left;
  padding: 20px 25px;
}
.iconBox.align-left .icon-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.iconBox.align-left .icon {
  display: flex;
  text-align: center;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  line-height: 1;
  margin-bottom: 0;
}
.iconBox.align-left .icon img {
  position: relative;
  margin-top: 10px;
}
.iconBox.align-left a {
  display: inline-block;
  position: relative;
}
.iconBox.align-left a h3 {
  margin-bottom: 0;
}

.iconBox.align-right {
  text-align: right;
  padding: 20px 25px;
}
.iconBox.align-right .icon {
  text-align: center;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  line-height: 1;
  float: right;
  margin: 0 auto 30px;
}
.iconBox.align-right .icon img {
  position: relative;
}
.iconBox.align-right a {
  display: inline-block;
  margin-right: 17px;
}
.iconBox.align-right a h3 {
  margin-bottom: 0;
  padding-left: 5px;
}
.iconBox.align-right .iconBox p {
  margin-bottom: 0;
  display: block;
  overflow: hidden;
  width: 100%;
  margin-top: 16px;
}