@media screen and (min-width: 768px) {
  .nopadd-ltf {
    padding-left: 0;
  }
  .nopadd-rth {
    padding-right: 0;
  }
  .nopadd {
    padding-left: 0;
    padding-right: 0;
  }
}
.toc_widget_title {
  position: relative;
  cursor: pointer;
}
.toc_widget_title:before {
  content: "\e64b";
  position: absolute;
  display: block;
  font-family: "themify";
  font-size: 20px;
  right: 0;
  top: -4px;
  transition: 0.5s;
}
.toc_widget_title.active:before {
  transform: rotate(-90deg);
}

.table-of-contents ul {
  transition: 0.5s;
  display: 0;
  overflow: hidden;
}