@media screen and (min-width: 768px) {
  .nopadd-ltf {
    padding-left: 0;
  }
  .nopadd-rth {
    padding-right: 0;
  }
  .nopadd {
    padding-left: 0;
    padding-right: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  color: #888888;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 27px;
}

a {
  color: #7c49dd;
  transition: all 300ms ease-in-out;
}

a:hover, a:focus {
  text-decoration: none;
  outline: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rufina', serif;
  font-weight: 700;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

section {
  display: block;
  position: relative;
  padding: 0;
  width: 100%;
}

section.page-section {
  padding: 0 0;
}

.xiroform-loader {
  width: 50px;
  height: 50px;
  border: 6px solid transparent;
  border-top: 6px solid #7c49dd;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.xiroform-circle {
  width: 30px;
  height: 30px;
  border: 6px solid #d946d3;
  border-top: 6px solid #7c49dd;
  border-radius: 50%;
  animation: spin-circle .8s infinite linear;
  display: none;
}

@keyframes spin-circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.xiroform-msg {
  display: none;
  display: inline-block;
  padding: 5px 10px;
  margin-top: 10px;
}

.xiroform-msg.success {
  border: 1px solid green;
}

.xiroform-msg.error {
  border: 1px solid red;
}

/******************************************/
/* Loader Style End
/******************************************/
