@media screen and (min-width: 768px) {
  .nopadd-ltf {
    padding-left: 0;
  }
  .nopadd-rth {
    padding-right: 0;
  }
  .nopadd {
    padding-left: 0;
    padding-right: 0;
  }
}
/**
*  Services Widget
*/
.service-widget {
  border: 10px solid rgba(227, 230, 234, 0.6);
  padding: 25px;
  margin-bottom: 15px;
  position: relative;
  background: #fff;
}
@media screen and (max-width: 767px) {
  .service-widget {
    border: 5px solid rgba(227, 230, 234, 0.6);
    padding: 10px;
  }
}
.service-widget h3 {
  color: #233646;
  display: block;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
}
.service-widget .btn {
  margin: 0 auto;
  display: block;
  padding: 13px 15px 15px;
  max-width: 250px;
}
.service-widget:hover {
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.07);
}
.service-widget .sp-wrapper .pricing-list-item {
  padding: 12px 0;
}
.service-widget .sp-wrapper .pricing-list-item .content p {
  margin-top: 0;
}
.service-widget:before {
  content: "\e6c6";
  font-family: "themify";
  font-size: 244px;
  color: #000;
  opacity: 0.02;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  bottom: 0;
  display: block;
  height: 244px;
  line-height: 1;
  max-width: 244px;
}
.service-widget .open_border {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  margin-left: 20px;
  border: 10px solid #7c49dd;
  z-index: -1;
}

ul.serviceList {
  margin: 0;
  padding: 0;
}
ul.serviceList li {
  list-style: none;
  display: block;
}
ul.serviceList li a {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
  background: #ffffff;
  color: #162b45;
  padding: 8px 15px;
  display: block;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  position: relative;
}
ul.serviceList li a:hover {
  background: #7c49dd;
  color: #fff;
}
ul.serviceList li a:hover:before {
  background: #fff;
}
ul.serviceList li a:before {
  content: "";
  width: 2px;
  height: 2px;
  background: #7c49dd;
  position: absolute;
  right: 15px;
  display: block;
  top: 50%;
  left: 50px;
}
ul.serviceList li.active a {
  background: #7c49dd;
  color: #fff;
}
ul.serviceList li.active a:before {
  background: #fff;
}