@media screen and (min-width: 768px) {
  .nopadd-ltf {
    padding-left: 0;
  }
  .nopadd-rth {
    padding-right: 0;
  }
  .nopadd {
    padding-left: 0;
    padding-right: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  color: #888888;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 27px;
}

a {
  color: #7c49dd;
  transition: all 300ms ease-in-out;
}

a:hover, a:focus {
  text-decoration: none;
  outline: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rufina', serif;
  font-weight: 700;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

section {
  display: block;
  position: relative;
  padding: 0;
  width: 100%;
}

section.page-section {
  padding: 0 0;
}

.toc_widget_title {
  position: relative;
  cursor: pointer;
}

.toc_widget_title:before {
  content: "\e64b";
  position: absolute;
  display: block;
  font-family: 'themify';
  font-size: 20px;
  right: 0;
  top: -4px;
  transition: .5s;
}

.toc_widget_title.active:before {
  transform: rotate(-90deg);
}

.table-of-contents ul {
  transition: 0.5s;
  display: 0;
  overflow: hidden;
}
