@media screen and (min-width: 768px) {
  .nopadd-ltf {
    padding-left: 0;
  }
  .nopadd-rth {
    padding-right: 0;
  }
  .nopadd {
    padding-left: 0;
    padding-right: 0;
  }
}
.accordion {
  position: relative;
}
.accordion-item {
  background: #fff;
  color: #233646;
  box-shadow: 0px 8px 25px 0px rgba(172, 176, 181, 0.2);
  border-radius: 8px;
  padding: 20px 30px;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 10px;
}
.accordion-item .heading {
  font-family: "Roboto", sans-serif;
  color: #233646;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  cursor: pointer;
}
@media screen and (max-width: 575px) {
  .accordion-item .heading {
    font-size: 16px;
  }
}
.accordion-item h5 {
  margin-bottom: 0;
  position: relative;
}
.accordion-item h5:after {
  content: "";
  font-family: "themify";
  position: absolute;
  right: 0;
  top: 0;
}
.accordion-item h5.collapsed:after {
  content: "\e61a";
}
.accordion-item h5:not(.collapsed):after {
  content: "\e622";
}
.accordion .acr-body {
  margin-top: 10px;
}
.accordion .acr-body p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 0;
}
@media screen and (max-width: 479px) {
  .accordion .acr-body p {
    font-size: 14px;
  }
}
.accordion .acr-body a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 15px;
  display: block;
  text-transform: capitalize;
  transition: 0.5s;
}
.accordion .acr-body a i {
  color: #7c49dd;
  margin-right: 10px;
  transition: 0.5s;
}
.accordion .acr-body a:hover {
  color: #d946d3;
}
.accordion .acr-body a:hover i {
  color: #d946d3;
}

.collapsing {
  transition: all 0.5s ease-in-out;
}

/**
*  Accordiion
*/
.accordion .card-header {
  padding: 10px;
}
.accordion .card-header .a-btn {
  color: #fff;
  display: block;
  width: 100%;
  text-align: left;
  padding: 15px 15px;
  position: relative;
  text-transform: capitalize;
  background: #7c49dd;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 0;
}
.accordion .card-header .a-btn:before {
  content: "";
  width: 20px;
  height: 2px;
  background: #fff;
  position: absolute;
  right: 10px;
  display: block;
  top: 50%;
}
.accordion .card-header .a-btn:after {
  content: "";
  width: 2px;
  height: 20px;
  position: absolute;
  right: 10px;
  display: block;
  top: 12px;
  right: 19px;
  display: none;
}
.accordion .card-header .a-btn.collapsed {
  background-color: rgba(232, 232, 232, 0.6784313725);
  color: #252525;
}
.accordion .card-header .a-btn.collapsed:after, .accordion .card-header .a-btn.collapsed:before {
  background: #7c49dd;
  display: block;
}
.accordion .card img {
  max-width: 50%;
}
.accordion .card img.alignleft {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.accordion .card img.alignright {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}
.accordion.version-2 .card {
  margin-bottom: 15px;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.0705882353);
  border: none;
  overflow: inherit;
  background: transparent;
  border-radius: 10px;
}
.accordion.version-2 .card.card:not(:first-of-type):not(:last-of-type) {
  border-radius: 10px;
}
.accordion.version-2 .card:hover {
  border: none;
}
.accordion.version-2 .card .card-header {
  background: transparent;
  padding: 0;
  position: relative;
  border-bottom: none;
}
.accordion.version-2 .card .card-header:before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ddd;
  position: absolute;
  right: 15px;
  display: block;
  top: 0;
  z-index: 1;
  bottom: 0;
  margin: auto;
}
.accordion.version-2 .card .card-header .a-btn {
  background: transparent;
  color: #252525;
  padding: 25px 40px;
  border: 0px solid transparent;
  font-size: 18px;
}
.accordion.version-2 .card .card-header .a-btn:hover {
  border: 0px solid transparent;
}
.accordion.version-2 .card .card-body {
  padding: 20px 37px 10px;
  padding-top: 0;
}
.accordion.version-2 .card-header .a-btn:before,
.accordion.version-2 .card-header .wp-block-button__link:before {
  content: "\e622";
  font-family: "themify";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  width: 15px;
  height: 15px;
  color: #b7b7b7;
  background: transparent;
  right: 23px;
  top: 32px;
}
.accordion.version-2 .card-header .a-btn:after,
.accordion.version-2 .card-header .wp-block-button__link:after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  display: block;
  top: 0;
  right: auto;
  z-index: 1;
  bottom: 0;
  margin: auto;
  background: #7c49dd;
}
.accordion.version-2 .card-header .a-btn.collapsed:before {
  content: "\e61a";
  background: transparent;
}
.accordion.version-2 .card-header .a-btn.collapsed:after {
  background: #ddd;
}

.content-box h2, .content-box-fluid h2 {
  color: #233646;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 23px;
}
@media screen and (max-width: 479px) {
  .content-box h2, .content-box-fluid h2 {
    font-size: 26px;
    line-height: 34px;
  }
}
.content-box h5, .content-box-fluid h5 {
  color: #233646;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 30px;
}
.content-box .a-btn, .content-box-fluid .a-btn {
  margin-top: 20px;
}

.image-box .content-box h2, .image-box .content-box-fluid h2 {
  margin-bottom: 10px;
}
.image-box .content-box p, .image-box .content-box-fluid p {
  margin-bottom: 0;
}
.image-box .right-arrow {
  position: relative;
}
.image-box .right-arrow:before {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 15px;
  content: "";
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-left: 0 solid transparent;
  border-bottom: 30px solid transparent;
  transition: all 0.4s;
}
.image-box .left-arrow {
  position: relative;
}
.image-box .left-arrow:before {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 15px;
  content: "";
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 30px solid transparent;
  transition: all 0.4s;
}
.image-box:hover .right-arrow:before {
  border-left-width: 60px;
  border-left-color: #fff;
}
.image-box:hover .left-arrow:before {
  border-right-width: 60px;
  border-right-color: #fff;
}

.content-box-fluid {
  width: 100%;
}
@media screen and (max-width: 992px) {
  .content-box-fluid {
    padding: 30px 0;
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .content-box-fluid.right {
    float: right;
  }
}
.content-box-fluid.left h2 {
  margin-bottom: 10px;
}
.content-box-fluid.left span {
  margin-bottom: 5px;
}
.content-box-fluid.left p {
  margin-bottom: 0;
}
.content-box-fluid span.tagline {
  color: #7c49dd;
}