/* ============================ */
/* Pricing Scetion Start */
/* ============================ */

.price-table-wrapper {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    padding: 70px 67px;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}

.price-table-wrapper .pricing-table-header {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    color: #000000;
    margin-bottom: 18px;
    display: block;
    text-transform: capitalize;
}

.price-table-wrapper .table-price {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 23px;
    color: #000000;
}

.price-table-wrapper .table-price sup {
    font-size: 16px;
    text-transform: capitalize;
    line-height: 23px;
    color: #7f7f7f;
}

.price-table-wrapper ul.price-list {
    margin-top: 31px;
    margin-bottom: 35px;
    padding-left: 0;
    list-style-type: none;
}

.price-table-wrapper ul.price-list li {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding: 7px 0px;
    display: block;
    color: #666666;
}

.price-table-wrapper ul.price-list li span {
    color: #35985e;
    display: inline-block;
    margin-right: 10px;
}

.price-table-wrapper ul.price-list li span.clr-red {
    color: #ff0600;
}

.price-table-wrapper .btn {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    color: #fff;
    background: #ff6600;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 8px;
    min-width: 186px;
    height: 48px;
    width: 100%;
}

.price-table-wrapper:hover {
    background: #ff6600;
    -webkit-box-shadow: 0px 10px 30px rgba(102, 84, 255, 0.08);
    box-shadow: 0px 10px 30px rgba(102, 84, 255, 0.08);
    border-color: #ff6600;
}

.price-table-wrapper:hover .pricing-table-header {
    color: #fff;
}

.price-table-wrapper:hover .table-price {
    color: #fff;
}

.price-table-wrapper:hover .table-price sup {
    color: #fff;
}

.price-table-wrapper:hover ul.price-list li {
    color: #fff;
}

.price-table-wrapper:hover ul.price-list li span {
    color: #fff;
}

.price-table-wrapper:hover .btn {
    background: #fff;
    color: #ff6600;
}

/* ============================ */
/* Pricing Scetion End */
/* ============================ */
.price-table-wrapper{
    opacity: .5;
}