@import '../base/index.scss';


.sec-heading {
	text-align: center;

	.paragraph {
		line-height: 28px;
	}
}

@media screen and (max-width: 575px) {
	.sec-heading {
		margin-bottom: 40px;
	}
}

.sec-heading h2 {
	font-size: 65px;
	line-height: 72px;
	margin-bottom: 20px;
	line-height: 1.3;
}

@media (max-width: 767px) {
	.sec-heading {
		max-width: 85% !important;

		.m-auto.text-left {
			margin: 0 !important;
		}
	}

	.sec-heading h2 {
		font-size: 62px;
	}
}

@media screen and (max-width: 575px) {
	.sec-heading h2 {
		font-size: 52px;
		line-height: 60px;
	}
}

@media screen and (max-width: 479px) {
	.sec-heading h2 {
		font-size: 33px;
		line-height: 40px;
	}
}
