@import '../base/index.scss';

// Accordion
.accordion {
	position: relative;
    .ata-collapse{
        transition: .5s;
        display: none;
        opacity: 0;
        margin: 0 10px;
        &.ata-show{
            display: block;
            opacity: 1;
        }
    }
	&-item {
        background: #fff;
		color: $darkmid-clr;
		box-shadow: 0px 8px 25px 0px rgba(172, 176, 181, 0.2);
		border-radius: 8px;
		padding: 20px 30px;
		font-size: 24px;
		font-family: $roboto;
		font-weight: 700;
		line-height: 32px;
		margin-bottom: 10px;

		.heading {
			font-family: $roboto;
            color: $darkmid-clr;
			font-size: 20px;
			font-style: normal;
			font-weight: 600;
			line-height: 32px;
            cursor: pointer;

			@include respond(phone) {
				font-size: 16px;
			}
		}

		h5 {
			margin-bottom: 0;
			position: relative;

			&:after {
				content: "";
				font-family: "themify";
				position: absolute;
				right: 0;
				top: 0;
			}

			&.collapsed {
				&:after {
					content: "\e61a";
				}
			}
			&:not(.collapsed) {
				&:after {
					content: "\e622";
				}
			}
		}
	}

	.acr-body {
		margin-top: 10px;
		p {
			font-family: $roboto;
			font-size: 16px;
			font-weight: 400;
			line-height: 26px;
            margin-bottom: 0;

            @include respond (phone-sm) {
                font-size: 14px;
            }
		}

		a {
			color: #fff;
			font-family: $roboto;
			font-size: 16px;
			font-weight: 400;
			padding-bottom: 15px;
			display: block;
			text-transform: capitalize;
			transition: .5s;

			i {
				color: $primary-clr;
				margin-right: 10px;
				transition: .5s;
			}

			&:hover {
				color: $secoundery-clr;

				i {
					color: $secoundery-clr;
				}
			}
		}
	}
  .card-header {
    padding: 10px;
    .a-btn {
        cursor: pointer;
      color: #fff;
      display: block;
      width: 100%;
      text-align: left;
      padding: 15px 15px;
      position: relative;
      text-transform: capitalize;
      background: $primary-clr;
      text-decoration: none;
      border: none;
      outline: none;
      border-radius: 0;
      font-size: 16px;
      font-weight: 700;
      &:before {
        content: "";
        width: 20px;
        height: 2px;
        background: #fff;
        position: absolute;
        right: 10px;
        display: block;
        top: 50%;
      }

      &:after {
        content: "";
        width: 2px;
        height: 20px;
        position: absolute;
        right: 10px;
        display: block;
        top: 15px;
        right: 19px;
        display: none;
      }

      &.collapsed {
        background-color: #e8e8e8ad;
        color: #252525;

        &:after,
        &:before {
          background: $primary-clr;
          display: block;
        }
      }
    }
  }

  .card {
    img {
      max-width: 50%;

      &.alignleft {
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
      }

      &.alignright {
        float: right;
        margin-left: 20px;
        margin-bottom: 20px;
      }
    }
  }

  &.v2 {
    .card {
      margin-bottom: 15px;
      box-shadow: 0 0 30px 5px #00000012;
      border: none;
      overflow: inherit;
      background: transparent;
      border-radius: 10px;

      &.card:not(:first-of-type):not(:last-of-type) {
        border-radius: 10px;
      }

      &:hover {
        border: none;
      }

      .card-header {
        background: transparent;
        padding: 0;
        position: relative;
        border-bottom: none;

        &:before {
          content: "";
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 1px solid #ddd;
          position: absolute;
          right: 15px;
          display: block;
          top: 0;
          z-index: 1;
          bottom: 0;
          margin: auto;
        }

        .a-btn {
          background: transparent;
          color: #252525;
          padding: 25px 40px;
          border: 0px solid transparent;
          font-size: 18px;

          &:hover {
            border: 0px solid transparent;
          }
        }
      }

      .card-body {
        padding: 20px 30px 10px;
        padding-top: 0;
        p{
            margin-top: 0;
        }
      }

      &.active{
        .card-header .a-btn:before,
        .card-header .wp-block-button__link:before, .card-header .a-btn:after, 
        .card-header .wp-block-button__link:after{
            background-color: $primary-clr;
        }
      }
    }

    .card-header .a-btn:before,
    .card-header .wp-block-button__link:before {
      content: "";
      height: 15px;
      background:  transparent;
      right: 20px;
      top: 26px;
      border-radius: 50%;
      width: 21px;
      height: 20px;
      
    }
  
    .card-header .a-btn:after, 
    .card-header .wp-block-button__link:after {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
      left: 15px; 
      display: block;
      top: 0; 
      right: auto;
      z-index: 1;
      bottom: 0;
      margin: auto;
      background: #ddd;
    }

  }
}

.content-box {
  h2 {
    color: #233646;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 23px;

    @include mq(479) {
      font-size: 26px;
      line-height: 34px;
    }
  }

  h5 {
    color: #233646;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .a-btn {margin-top: 20px;}
}

.image-box {
  .content-box {
    h2 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 0;
    }
  }

  .right-arrow {
    position: relative;

    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 15px;
      content: "";
      width: 0;
      height: 0;
      border-top: 30px solid transparent;
      border-left: 0 solid transparent;
      border-bottom: 30px solid transparent;
      transition: all 0.4s;
    }
  }

  .left-arrow {
    position: relative;

    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      right: 15px;
      content: "";
      width: 0;
      height: 0;
      border-top: 30px solid transparent;
      border-right: 0 solid transparent;
      border-bottom: 30px solid transparent;
      transition: all 0.4s;
    }
  }

  &:hover .right-arrow {
    &:before {
      border-left-width: 60px;
      border-left-color: #fff;
    }
  }

  &:hover .left-arrow {
    &:before {
      border-right-width: 60px;
      border-right-color: #fff;
    }
  }
}

.content-box-fluid {
  @include mq(992) {
    padding: 30px 0;
    display: block;
    text-align: center; 
  }

  @extend .content-box;
  width: 100%;

  @include min-mq(768) {
    // max-width: 505px;
  }

  &.right {
    @include min-mq(768) {
      float: right;
    }
  }

  &.left {
    h2 {
      margin-bottom: 10px;
    }

    span {
      margin-bottom: 5px;
    }

    p {
      margin-bottom: 0;
    }
  }

  span.tagline {
    color: $primary-clr;
  }
}