.feature-process {
    .feature-item {
        color: #000;
        background-color: #fff;
        padding: 30px 15px;
        transition: all 0.5s ease-in-out;
        margin-bottom: 30px;
        border-radius: 5px;
        box-shadow: 0 3px 30px rgba(0, 0, 0, .1);
        .icon-box {
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            height: 80px;
            width: 80px;
            border-radius: 50%;
            margin: 0 auto 15px;
            transition: all 0.5s ease-in-out;
            box-shadow: 0 0 16px rgba(25, 186, 254, .10);

            i {
                color: #000;
                font-size: 30px;
                transition: all 0.5s ease-in-out;
            }
        }
        &:hover {
            background: $primary-clr;
            color: #fff;
        }
    }
    &.v2 {
        padding-top: 150px;

        @include mq(991) {
            padding-top: 0;
        }
    }

    &:nth-child(2){
        margin-top: 150px;
    }
    &:nth-child(3){
        margin-top: -150px;
    }
}

.main-content {
    .item-content {
        transition: all 0.5s ease-in-out;
        h2 {
            font-size: 40px;
            margin-bottom: 20px;

            @include mq(479) {
                font-size: 32px;
            }
        }
    }
    @include mq(991) {
        margin-bottom: 50px;
    }
}