.style4{
    overflow: hidden;
    top: 0;
    .icon{ 
        background: transparent !important;
    }
    .bgShape{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: block;
        &:before, &:after{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute; 
            display: block;
            transform: scale(2);
            transition: all .5s;
            border-radius: 50%;
        }

        &:before{
            left: 0;
            border-bottom: 15px solid #97bfb1;
        }
        &:after{
            right: 0;
            border-bottom: 15px solid #1b856b;
            transition-delay: .2s;
        }
    }

    .view_details{
        position: relative;
        font-weight: 700;
        color: #1b856b;
        font-size: 16px;
        margin-top: 15px;
        outline: none;
        i{
            position: relative;
            left: 0;
            transition: all .5s;
            top:2px
        }
        &:hover{
            i{
                left: 7px;
            }
        }
    }

    .icon-bg{
        display: flex;
        position: absolute;
        top: 0;
        opacity: .03;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #1b856b;
        i{
           font-size: 250px   
        }
        img{
            width: 100%;
            height: auto;
            display: block;
            aspect-ratio: 1/1;
            object-fit: contain;
            object-position: center;
        }
    }
    &:hover{
        .icon-bg{
            i{
                color: #1b856b;
                // opacity: .1;
            }
        }
    }

    &:hover{
        top: -15px;
        .bgShape{
            &:before{
                transform: scale(1.3);
            }
            &:after{
                transform: scale(1.37);
            }
        }
        
    }
}